<!DOCTYPE html>
<html lang="en">
<head>
  <title>Visitor Tracker</title>
  <style>
    table, th, td {
      border: 1px solid black;
    }
    th, td {
      padding: 5px;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <th>IP Address</th>
      <th>Website</th>
      <th>Access Date</th>
    </tr>
    <% data.forEach((row, i) => { %>
      <tr>
        <td>
          <a href="https://ip.me/ip/<%= row.ipaddr %>" target="_blank" rel="noreferrer">
            <%= row.ipaddr %>
          </a>
        </td>
        <td><%= row.website %></td>
        <td><%= row.accessdate %></td>
      </tr>
    <% }) %>
  </table>
</body>
</html>